body {
    font-family: roboto;
    margin: 0;
}

.logo {
    margin-left: 60px;
    position: absolute;
    top: 0;
    margin-top: 17px;
    cursor: pointer;
    transition: 80ms;
}

.logo:hover {
    transform: scale(1.23);
}

header {
    background: rgb(0,0,0);
    background-image: linear-gradient(to right bottom, #000000,#070707d2, #3f8795, #c78c88, #f8dbd9);
    display: flex;
    justify-content: space-between;
    padding: 170px 0px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 45px;
}

.navbar {
    position: absolute;
    top: 0;
    margin-top: 30px;
    margin-left: 727px;
    transition: 80ms;
}
  
li a {
    text-decoration: none;
}

li:hover {
    transform: scale(1.40);
}

li {
    font-size: 22px;
    font-weight: 600;
}

a[href] {
   color: #e5e7eb;
}

.maintext {
    color: #f9faf8;
    font-size: 47px;
    margin-left: 108px;
    margin-top: 10px;
    word-break: break-word;
    width: 449px;    
    font-weight: 600;
    text-align: center;
}

.secondarytext {
    color: hsl(43, 68%, 61%);
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    margin-left: 165px;
    margin-top: 4px;
    word-break: break-word;
    width: 333px;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 3px;
}

.buddha {
    margin-top: 0px;
    margin-right: 135px;
    border-radius: 40px;
    box-shadow: 10px 10px 40px 10px #3882F6;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 17px;
    border-radius: 7px;
    border-color: white;
    font-weight: 600;
    padding: 6px 29px 6px 29px;
}

.button1 {
    box-shadow: 10px 10px 50px 10px #3882F6;
    margin-left: 100px;
    margin-top: 8px;
}

.randominfos {
    color: #1f2937;
    font-size: 36px;
    font-weight:bolder;
    text-align: center;
    margin-top: 40px;
}

.flex-container {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    gap: 40px
}

.flex-container div {
    border: solid #3882F6;
    border-radius: 30px;
    width: 140px;
    height: 140px;
}

p {
    word-break: break-word;
    width: 150px;
    font-weight: 500;
}

.sub, .sub2, .sub3, .sub4 {
    text-align: center;
    margin-top: 150px;
}

.subtext ol {
    list-style: none;
}

.quote-container {
    background-color: #E5E7EB;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote {
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    word-break: break-all;
    width: 777px;
    margin-top: 80px;
    margin-bottom: -70px;
}

.author {
    font-size: 30px;
    margin-top: 50px;
    padding: 50px;
    text-align-last: right;
    width: 53vW;
}

.action-container {
    background-color: #3882F6;
    margin: 75px 210px 75px 210px;
    padding: 50px 100px 50px;
    border-radius: 8px;
}

h3 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 0px;
}

.action-product {
    color: #dbdfe2;
    font-size: 17px;
    font-weight: 500;
    margin-top: -25px;
}

.action-button {
    margin-top: -35px;
    padding-left: 610px;
}

