body {
    font-family: roboto;
    margin: 0;
}

.logo {
    margin-left: 125px;
    position: absolute;
    top: 0;
    margin-top: 10px;
}

header {
    background: rgb(0,0,0);
    background-image: linear-gradient(to right bottom, #000000, #000000, #070707d2, #424242ee, #fa5f30ea, #e9621ef8,#f8ca4c);
    display: flex;
    justify-content: space-between;
    padding: 200px 0px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 55px;
}

.navbar {
    position: absolute;
    top: 0;
    margin-top: 40px;
    margin-left: 700px;
}
  
li a {
    text-decoration: none;
}

li {
    font-size: 22px;
}

a[href] {
   color: #e5e7eb;
}

.maintext {
    color: #f9faf8;
    font-size: 48px;
    margin-left: 100px;
    word-break: break-word;
    width: 450px;
}

.secondarytext {
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 100px;
    word-break: break-word;
    width: 370px;
}

.image-placeholder {
    margin-top: 0px;
    margin-right: 160px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px #3882F6;
    line-height: 0%;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 17px;
    border-radius: 7px;
    border-color: white;
    font-weight: 600;
    padding: 6px 29px 6px 29px;
}

.button1 {
    box-shadow: 10px 10px 50px 10px #3882F6;
    margin-left: 100px;
    margin-top: 8px;
}

.randominfos {
    color: #1f2937;
    font-size: 36px;
    font-weight:bolder;
    text-align: center;
    margin-top: 40px;
}

.flex-container {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    gap: 40px
}

.flex-container div {
    border: solid #3882F6;
    border-radius: 30px;
    width: 140px;
    height: 140px;
}

p {
    word-break: break-word;
    width: 150px;
    font-weight: 500;
}

.sub1, .sub2, .sub3, .sub4 {
    text-align: center;
    margin-top: 150px;
}

.subtext ol {
    list-style: none;
}

.quote-container {
    background-color: #E5E7EB;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;

    word-break: break-all;
    width: 777px;
}

.author {
    font-size: 30px;
    margin-top: 50px;

    padding: 50px;
    text-align-last: right;
    width: 54.5vW;
}