* {
    font-family: roboto;
    margin: 0;
    padding: 0;
}

.logo {
}

header {
    background-color: rgba(0, 0, 0, 0.952);
    display: flex;
    justify-content:space-around;
    padding: 20px 0px;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

li a {
    text-decoration: none;
}

li {
    font-size: 22px;
}

a[href] {
   color: #e5e7eb;
}

 
